{% comment %}
flexbox image gallery include for blog posts.
requires:
- file: semicolon-separated filenames
optional:
- title: semicolon-separated titles
- class: space-separated CSS classes (e.g. "wide double")
- caption: string or markdown
assumes:
- page.photoloc is the base path for images
{% endcomment %}

{% assign filenames = include.file | split: "; " %}
{% assign titles = include.title | split: "; " %}

{% assign raw_classes = include.class | default: "normal" | split: " " %}
{% assign pic_classes = "" %}
{% for c in raw_classes %}
  {% assign pic_classes = pic_classes | append: "pic-" | append: c | append: " " %}
{% endfor %}

<div class="gallery {{ pic_classes | strip }}">
    {% for file in filenames %}
    <figure>
        <img src="{{  page.photoloc | append: '/' | append: file | relative_url }}" alt="{{ titles[forloop.index0] | default: '' }}" class="zoomable" loading="lazy">
    </figure>
    {% endfor %}

    {% if include.caption %}
    <figcaption class="{{ pic_classes | strip }}">{{ include.caption | markdownify }}</figcaption>
    {% endif %}
</div>
