@font-face {
  font-family: "iA Duo";
  src: url('/assets/fonts/iADuo.woff2') format('woff2');
}

@font-face {
  font-family: "Ease";
  src: url('/assets/fonts/Ease.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Ease", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-variation-settings: "wght" 100, "ousd" 20, "insd" 20;
  font-feature-settings: "clig", "dlig";
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;

}

code, figcaption, .imagecaption {
  font-family: "iA Duo", monospace;
  font-size: 0.9em;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  //font-weight: 600;
  font-variation-settings: "wght" 350, "ousd" 40, "insd" 60;
}

h1 {
  margin: 2.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h2, h3 {
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: 1.125em;
  border-top: 1px solid var(--bg-accent-1);
  
  padding-top: 0.3em;
}

h3 {
  font-size: 1em;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.75rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}

table {
  font-feature-settings: "tnum";
}

strong {
  font-variation-settings: "wght" 400, "ousd" 20, "insd" 20;
}