@import url('https://rsms.me/inter/inter.css');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: "Univers";
  src: url('/assets/fonts/UniversRegular.ttf') format('truetype');
}

@font-face {
  font-family: "iA Duo";
  src: url('/assets/fonts/iADuo.woff2') format('woff2');
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  letter-spacing: -0.004em;
}

code, figcaption, .imagecaption {
  font-family: "iA Duo", monospace;
  font-size: 0.9em;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  margin: 2.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

h2, h3 {
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: 1.125em;
  border-top: 1px solid var(--bg-accent-1);
  
  padding-top: 0.3em;
}

h3 {
  font-size: 1em;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.5rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}
